<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Range of Years</h1>
        <p>Enter a range of years (integers between 1900 and 2014) to see pricing data for houses built in those years.</p>
        <form action="/action/creategraph" method="POST">
            <input type="number" name="start year" placeholder="1900">
            <input type="number" name="end year" placeholder="2014">
            <input type="submit" value="Calculate">
    </body>
</html>
